<section class="section-advantages">
  <div class="container">
    <h2 class="adv-main-title" hidden>Advantages</h2>
    <ul class="adv-list">
      <li class="adv-item">
        <svg class="avd-icon">
          <use></use>
        </svg>
        <h3 class="adv-title">Unsurpassed taste</h3>
        <p class="avd-paragraph">
        </p>
      </li>
      <li class="adv-item">
        <svg class="avd-icon">
          <use></use>
        </svg>
        <h3 class="adv-title">Affordable price</h3>
        <p class="avd-paragraph">
          Indulge in high-quality chocolate without breaking the bank with
          Simply Chocolate's selection of affordable treats. Enjoy
          mouth-watering truffles and velvety chocolate bars without sacrificing
          taste or quality. Browse our selection and indulge in affordable
          luxury today.
        </p>
      </li>
      <li class="adv-item">
        <svg class="avd-icon">
          <use></use>
        </svg>
        <h3 class="adv-title">Own production</h3>
        <p class="avd-paragraph">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>