<footer class="footer-fon" id="footer">
  <div class="container">
    <div class="footer-conteiner">
      <div class="footer-p">
        <nav>
          <p class="logo-first">
            Chocolate <span class="logo-second">a delicious</span>
          </p>
          <p class="logo-first">
            <span class="logo-second">cure for a bad day</span>
          </p>
        </nav>
      </div>
      <div>
        <address>
          <h2 class="footer-social-media">Contact us</h2>
          <ul class="page-addres">
            <li>
              <a class="mail" href="tel:+380684439426"> +380 (68) 443-94-26 </a>
            </li>
            <li>
              <a class="mail" href="mailto:simplychoc@gmail.com">
                simplychoc@gmail.com
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-icons">
        <ul class="footer-icon">
          <li>
            <a class="footer-socials-link" href="#">
              <svg class="footer-socials-icon">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-socials-link" href="#">
              <svg class="footer-socials-icon">
                <use href="./img/sprite.svg#twitter-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="navigation">
        <li>
          <a href="" class="link">Home</a>
        </li>
        <li>
          <a href="" class="link">How it's made?</a>
        </li>
        <li>
          <a href="" class="link">Our products</a>
        </li>
        <li>
          <a href="" class="link">Top seller</a>
        </li>
        <li>
          <a href="" class="link">Chocollate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
