<header >
    <div class="container header-container">
        <a href="" class="header-logo">SIMPLY CHOCOLATE</a>
     <svg class="header-chocolate" width="21" height="21">
        <use href="../img/sprite.svg#main-logo-icon"></use>
     </svg>
     <nav class="header-navigation">
        <ul class="site-list">
            <li class="site-item"><a class="site-link" href="../index.html">Home</a></li>
            <li class="site-item"><a class="site-link" href="">How it’s made?</a></li>
            <li class="site-item"><a class="site-link" href="">Our products</a></li>
            <li class="site-item"><a class="site-link" href="">Top sellers</a></li>
            <li class="site-item"><a class="site-link" href="">Chocolate is loved</a></li>
        </ul>
     </nav>
     <ul class="desktop-social">
        <li class="soc-link-item">
            <a href="" class="icon-desktop">
            <svg class="soc-link-icon" width="24" height="24">
                <use href="../img/sprite.svg#instagram-icon"></use>
            </svg>
        </a>
    </li>
        <li class="soc-link-item">
            <a href="" class="icon-desktop">
            <svg class="soc-link-icon" width="24" height="24">
                <use href="../img/sprite.svg#twitter-icon"></use>
            </svg>
        </a>
    </li>
    </ul>
      
    <input type="checkbox" id="hmt" class="hidden-menu-ticker">
     <label class="btn-menu" for="hmt">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
      </label>

      <div class="mobile-menu">
        <div class="container">
            <div>
             <nav class="mob-nav">
                <ul class="mob-nav-list">
                    <li class="mob-nav-item"><a class="mob-nav-link current" href="">Home</a></li>
                    <li class="mob-nav-item"><a class="mob-nav-link current" href="">How it’s made?</a></li>
                    <li class="mob-nav-item"><a class="mob-nav-link current" href="">Our products</a></li>
                    <li class="mob-nav-item"><a class="mob-nav-link current" href="">Top sellers</a></li>
                    <li class="mob-nav-item"><a class="mob-nav-link current" href="">Chocolate is loved</a></li>
                </ul>
                    </nav>
               </div>
            <div>
                <ul class="menu-social">
                    <li class="menu-social-list">
                        <a href="" class="menu-social-link">
                         <svg class="menu-social-icon" width="22" height="22">
                         <use href="../img/sprite.svg#instagram-icon"></use>
                         </svg>
                        </a>
                </li>
                    <li class="menu-social-item">
                        <a href="" class="menu-social-link">
                          <svg class="menu-social-icon" width="20" height="20">
                          <use href="../img/sprite.svg#twitter-icon"></use>
                          </svg>
                        </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    
</header>