<header >
    <div class="container header-container">
        <a href="" class="header-logo">SIMPLY CHOCOLATE</a>
     <svg class="header-chocolate" width="21" height="21">
        <use href="../img/sprite.svg#main-logo-icon"></use>
     </svg>
     <nav class="header-navigation">
        <ul class="site-list">
            <li class="site-item"><a class="site-link" href="../index.html">Home</a></li>
            <li class="site-item"><a class="site-link" href="./how-its-made.html">How it’s made?</a></li>
            <li class="site-item"><a class="site-link" href="./our-products.html">Our products</a></li>
            <li class="site-item"><a class="site-link" href="./top-sellers.html">Top sellers</a></li>
            <li class="site-item"><a class="site-link" href="./reviews.html">Chocolate is loved</a></li>
        </ul>
     </nav>
     <ul class="desktop-social">
        <li class="soc-link-item">
            <a href="" class="icon-desktop">
            <svg class="soc-link-icon" width="24" height="24">
                <use href="../img/sprite.svg#instagram-icon"></use>
            </svg>
        </a>
    </li>
        <li class="soc-link-item">
            <a href="" class="icon-desktop">
            <svg class="soc-link-icon" width="24" height="24">
                <use href="../img/sprite.svg#twitter-icon"></use>
            </svg>
        </a>
    </li>
    </ul>
     <button js-open-modal class="open-mob-menu" type="button">
        <svg class="mob-menu-btn" width="28" height="28">
            <use href="../img/sprite.svg#burger-icon"></use>
        </svg>
     </button>
    </div>

    <div js-overlay-modal class="mobile-menu">
        <div class="container">
            <div>
                <button class="close-menu-btn " type="button">
                    <svg class="close-btn-icon" width="28" height="28">
                        <use href="../img/sprite.svg#menu-modal-close-icon"></use>
                    </svg>
                </button>
                    <nav class="mob-nav">
                        <ul class="mob-nav-list">
                            <li class="mob-nav-item"><a class="mob-nav-link current" href="../index.html">Home</a></li>
                            <li class="mob-nav-item"><a class="mob-nav-link current" href="./how-its-made.html">How it’s made?</a></li>
                            <li class="mob-nav-item"><a class="mob-nav-link current" href="./our-products.html">Our products</a></li>
                            <li class="mob-nav-item"><a class="mob-nav-link current" href="./top-sellers.html">Top sellers</a></li>
                            <li class="mob-nav-item"><a class="mob-nav-link current" href="./reviews.html">Chocolate is loved</a></li>
                        </ul>
                    </nav>
            </div>
            <div>
                <ul class="menu-social">
                    <li class="menu-social-list">
                        <a href="" class="menu-social-link">
                        <svg class="menu-social-icon" width="22" height="22">
                            <use href="../img/sprite.svg#instagram-icon"></use>
                        </svg>
                    </a>
                </li>
                    <li class="menu-social-item">
                        <a href="" class="menu-social-link">
                        <svg class="menu-social-icon" width="20" height="20">
                            <use href="../img/sprite.svg#twitter-icon"></use>
                        </svg>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</header>