<section class="hero container">
  <div class="hero-body">
    <div class="hero-content-container">
      <h1 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-buttons-container">
        <button class="buy-now-btn" type="button">Buy now</button>
        <!-- Посилання якір до секції --id="howitsmade--"-->
        <a class="hero-how-its-made-btn" href="#howitsmade">How it’ smade</a>
      </div>
      <!-- Посилання якір до секції --id="footer--"-->
      <a class="hero-scroll-down-btn" href="#footer">
        <p>scroll down</p>
        <svg class="hero-scroll-down-icon" width="38" heigth="38">
          <use href="../img/sprite.svg#icon-scroll-down-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
