<section id="howitsmade">
  <container class="about-section">
    <h2 class="about-section-header">
      HOW IT´S<span class="about-section-header-accent"> MADE?</span>
    </h2>
    <div class="how-its-made">
      <div class="about-section-picture">
        <picture>
          <source
            srcset="
              ./img/how-its-made/hot-chocolate-mobile.jpg    1x,
              ./img/how-its-made/hot-chocolate-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            sizes="(min-width: 335px) 335px, 100vw"
          />
          <source
            srcset="
              ./img/how-its-made/hot-chocolate-desktop.jpg    1x,
              ./img/how-its-made/hot-chocolate-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            sizes="(min-width: 600px) 600px, 100vw"
          />

          <source
            srcset="
              ./img/how-its-made/hot-chocolate-tablet.jpg    1x,
              ./img/how-its-made/hot-chocolate-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            sizes="(min-width: 614px) 614px, 100vw"
          />
          <img
            class="hot-chocolate-img"
            srcset="
              ./img/how-its-made/hot-chocolate-desktop.jpg    1x,
              ./img/how-its-made/hot-chocolate-desktop@2x.jpg 2x
            "
            src="./img/how-its-made/hot-chocolate-desktop.jpg"
            alt="process of making a chocolate"
          />
        </picture>

        <a href="#" class="video-play-icon animation-about-section">
          <svg class="play-icon" height="21" width="20">
            <use href="./img/sprite.svg#icon-play"></use>
          </svg>
        </a>
      </div>
      <div class="about-section-description">
        <p class="about-section-title">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="about-section-list">
          <li class="about-section-list-text">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="about-section-list-text">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="about-section-list-text">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="about-section-list-text">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="about-section-list-text">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </container>
</section>
