<section class="container our-products">
  <div class="container-our-products">
    <h2 class="logo-our-products">
      OUR <span class="logo-products"> PRODUCTS</span>
    </h2>
    <div class="list-our-products">
      <!-- Slider main container -->
      <div class="swiper image-slider-our-products">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/orange-chocolate@2x.jpg 2x,
                  /img/our-products/orange-chocolate.jpg    1x
                "
                src="/img/our-products/orange-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">orange</h3>
              <p class="name-taste-our-products">Dark chocolate</p>
            </div>

            <button class="button-our-products">
              <p class="price">45 UAH</p>
            </button>
          </div>

          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/apple-cranberry-chocolate@2x.jpg 2x,
                  /img/our-products/apple-cranberry-chocolate.jpg    1x
                "
                src="/img/our-products/apple-cranberry-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">APPLE&CRANBERRY</h3>
              <p class="name-taste-our-products">Milk chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">50 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/lime-sea-salt-chocolate@2x.jpg 2x,
                  /img/our-products/lime-sea-salt-chocolate.jpg    1x
                "
                src="/img/our-products/lime-sea-salt-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">lime&sea salt</h3>
              <p class="name-taste-our-products">Dark chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">66 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/pineapple-chocolate@2x.jpg 2x,
                  /img/our-products/pineapple-chocolate.jpg    1x
                "
                src="/img/our-products/pineapple-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">pineapple</h3>
              <p class="name-taste-our-products">Dark chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">54 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/classic-milk-chocolate@2x.jpg 2x,
                  /img/our-products/classic-milk-chocolate.jpg    1x
                "
                src="/img/our-products/classic-milk-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">Classic</h3>
              <p class="name-taste-our-products">Milk chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">45 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/honey-chocolate@2x.jpg 2x,
                  /img/our-products/honey-chocolate.jpg    1x
                "
                src="/img/our-products/honey-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">honey</h3>
              <p class="name-taste-our-products">Milk chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">50 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/roasted-fruits-chocolate@2x.jpg 2x,
                  /img/our-products/roasted-fruits-chocolate.jpg    1x
                "
                src="/img/our-products/roasted-fruits-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">Roasted fruits</h3>
              <p class="name-taste-our-products">Dark chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">66 UAH</p>
            </button>
          </div>
          <div class="swiper-slide">
            <div class="image-wrapper">
              <img
                class="foto-our"
                srcset="
                  /img/our-products/classic-white-chocolate@2x.jpg 2x,
                  /img/our-products/classic-white-chocolate.jpg    1x
                "
                src="/img/our-products/classic-white-chocolate.jpg"
                alt=""
                width="201"
                height="230"
              />
            </div>
            <div class="content-our-products">
              <h3 class="name-our-products">Classic</h3>
              <p class="name-taste-our-products">White chocolate</p>
            </div>
            <button class="button-our-products">
              <p class="price">54 UAH</p>
            </button>
          </div>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
