<section class="section-review">
    <div class="container">
        <h2 class="review-titel">CHOCOLATE <span class="reveiw-titel-color"> IS LOVED </span></h2>
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="../img/reviews/victoria-dobrzhanska.png" 
                alt="photo Victoria Dobrzhanska"
                width="80"
                height="80"
                class="review-img">
                <h3 class="review-name"> Victoria Dobrzhanska</h3>
                <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
              </div>
              <div class="swiper-slide">                
                <img src="../img/reviews/nazar-babenko.png" 
                alt=" photo Nazar Babenko"
                width="80"
                height="80"
                class="review-img">
                <h3 class="review-name">Nazar Babenko</h3>
                <p class="review-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p></div>
              <div class="swiper-slide">                
                <img src="../img/reviews/olena-kampusch.png" 
                alt=" photo Olena Kampusch"
                width="80"
                height="80"
                class="review-img">
                <h3 class="review-name">Olena Kampusch</h3>
                <p class="review-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p></div>
                <div class="swiper-slide">
                    <img src="../img/reviews/natalia-sus.png" 
                    alt=" photo Natalia Sus"
                    width="80"
                    height="80"
                    class="review-img">
                    <h3 class="review-name">Natalia Sus</h3>
                    <p class="review-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p> 
                </div>
                <div class="swiper-slide"> 
                    <img src="../img/reviews/danilo-nottingham.png" 
                    alt=" photo Danilo Nottinghan"
                    width="80"
                    height="80"
                    class="review-img">
                    <h3 class="review-name">Danilo Nottingham</h3>
                    <p class="review-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                </div>
                <div class="swiper-slide">
                    <img src="../img/reviews/irina-tydnyuk.png" 
                    alt=" photo Irina Tydnyuk"
                    width="80"
                    height="80"
                    class="review-img">
                    <h3 class="review-name">Irina Tydnyuk</h3>
                    <p class="review-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p> 
                </div>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        <button type="button" class="review-btn" js-open-modal>Leave a review</button>
    </div>
</section>