<section class="section-review">
    <div class="container">
        <h2 class="review-titel">CHOCOLATE <span class="reveiw-titel-color"> IS LOVED </span></h2>

        <div class="swiper swiper-review">

            <div class="swiper-wrapper">

              <div class="swiper-slide swiper-slide-review">
                <img srcset="../img/review/victoria-dobrzhanska@2x.png 2x"
                src="../img/reviews/victoria-dobrzhanska.png" 
                alt="photo Victoria Dobrzhanska"
                width="80"
                height="80"
                class="review-img">
                <div class="review-block">
                <h3 class="review-name"> Victoria Dobrzhanska</h3>
                <p class="review-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
              </div>

              </div>
              <div class="swiper-slide swiper-slide-review">                
                <img srcset="../img/review/nazar-babenko@2x.png 2x"
                src="../img/reviews/nazar-babenko.png" 
                alt=" photo Nazar Babenko"
                width="80"
                height="80"
                class="review-img">
                <div class="review-block">
                  <h3 class="review-name">Nazar Babenko</h3>
                <p class="review-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
              </div>
                </div>
                
              <div class="swiper-slide swiper-slide-review">                
                <img srcset="../img/review/olena-kampusch@2x.png 2x"
                src="../img/reviews/olena-kampusch.png" 
                alt=" photo Olena Kampusch"
                width="80"
                height="80"
                class="review-img">
                <div class="review-block">
                <h3 class="review-name">Olena Kampusch</h3>
                <p class="review-text"> Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
              </div>
              </div>
                <div class="swiper-slide swiper-slide-review">
                    <img srcset="../img/review/natalia-sus@2x.png 2x"
                    src="../img/reviews/natalia-sus.png" 
                    alt=" photo Natalia Sus"
                    width="80"
                    height="80"
                    class="review-img">
                    <div class="review-block">
                    <h3 class="review-name">Natalia Sus</h3>
                    <p class="review-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level. </p> 
                    </div>
                  </div>
                <div class="swiper-slide swiper-slide-review"> 
                    <img srcset="../img/review/danilo-nottingham@2x.png 2x"
                    src="../img/reviews/danilo-nottingham.png" 
                    alt=" photo Danilo Nottinghan"
                    width="80"
                    height="80"
                    class="review-img">
                    <div class="review-block">
                      <h3 class="review-name">Danilo Nottingham</h3>
                      <p class="review-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-review">
                    <img 
                    srcset="../img/review/irina-tydnyuk@2x.png 2x"
                    src="../img/reviews/irina-tydnyuk.png" 
                    alt=" photo Irina Tydnyuk"
                    width="80"
                    height="80"
                    class="review-img">
                    <div class="review-block">
                    <h3 class="review-name">Irina Tydnyuk</h3>

                  <p class="review-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class :)</p> 
                    </div>
                    
                  </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        <button type="button" class=" js-open-modal review-btn" data-modal="3" >Leave a review</button>
    </div>
</section>



<!-- Review modal -->

<div class="modal modal-review" data-modal="3">
  <svg class=" modal-close-review js-modal-close"
  width="14px"
  height="14px"
  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <p class="modal-review-title">LEAVE A REVIEW ABOUT<span class="modal-review-title-color"> OUR CHOCOLATE</span></p>
  <form action="#">
    <div class="form-field-review">
        <input type="text"
        class="form-input-review"
        name="user-name"
        id="user-name"
        placeholder="Name">
  </div>
  <div class="form-field-review">
    <input type="email"
    class="form-input-review"
    name="user-emeil"
    id="user-emeil"
    placeholder="Enter your email">
</div>
<div class="form-field-review">
  <div  class ="modal-review-wrap">
    <input type="tell"
  class="form-input-review-phone"
  name="user-tel"
  id="user-tel"  
  placeholder="Phone number">
      <div class="icon-code">
      <svg class="icon-review">
    <use href="./img/sprite.svg#icon-flag"></use>
  </svg> 
  <div class="code-review" > <span class="code-color">+380</span>
  </div> 
</div>
</div>
  </div>

<div class="form-input-review-text">
  <textarea 
  name="user-text"
  id="user-text"
  class="form-text-review"
  placeholder="Enter text">
</textarea>
</div>
    <button type="submit" class="send-review-btn js-open-modal js-modal-close" data-modal="4">Send</button>
  </form>
</div>
                  <!-- Подложка -->
    <div class="overlay js-overlay-modal"></div>

<!-- Review modal feedback -->

<div class="modal modal-feedback" data-modal="4">
  <svg class=" modal-close-review-feedback js-modal-close">
    <use href="./img/sprite.svg#icon-close-feedback"
    width="22"
    height="22"></use>
  </svg>
    
   <div class="modal-review-feedback">
  <p class="modal-review-title-feedback">THANK YOU <br> FOR YOUR FEEDBACK!</p>
  <p class="modal-review-feedback-text">We are so happy to hear from you!</p>
  </div> 
</div>

                  <!-- Подложка -->
    <div class="overlay js-overlay-modal"></div>