<section class="subscribe">
    <h1 class="subscribe_title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
    <p class="subscribe_text">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.</p>
    <button class="subscribe_button" type="button">Subscribe</button>
</section>
<div class="subscribe-modal">
    <form name="subscribe-modal" autocomplete="off">
    <button class="subscribe-modal__button">
        <svg width="28" height="28">
            <use href="/src/img/sprite.svg#menu-modal-close-icon"></use>
        </svg>
    </button>
   <h2 class="subscribe-modal__title">Explore our <span class="subscribe-modal__span">new chocolate</span> first!</h2>
    <input class="subscribe-modal__input" type="email" name="email" placeholder="Enter your email"/>
    <button class="subscribe-modal__submit" type="submit">Submit</button>
</form>
</div>