.about-section {
  display: block;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  position: relative;
}

.about-section-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 128px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
}

.about-section-header-accent {
  color: #fd9222;
}

.how-its-made {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
  align-items: flex-start;
}

.about-section-picture {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/how-its-made/hot-chocolate-desktop.jpg);
  border-radius: 15px;
  width: 600px;
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section-description {
  width: 516px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-right: 32px;
  margin-left: 20px;
}

.about-section-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 28px;

  color: #111111;
}

.about-section-list-text {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  padding-bottom: 24px;
}

.play-icon {
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 50%;
  top: 50%;
}
