* {
  margin: 0;
  padding: 0;
}
.container-top-sellers {
  padding-bottom: 72px;
}
@media (min-width: 768px) {
  .container-top-sellers {
    padding-bottom: 100px;
  }
}
.title-top-sellers {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-orange);
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .title-top-sellers {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.second-part-title-top-sellers {
  color: var(--color-black);
}
.top-sellers-quotation {
  width: 306px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
@media(max-width:767px){
  .top-sellers-quotation {
    
    margin-top: 20px;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .div-top-sellers-quotation {
    display: none;
  }
}
@media (max-width: 767px) {
  .div-top-sellers-quotation-desk-tab {
    display: none;
  }
}
@media (min-width: 768px) {
  .div-button-buy-now-mob {
    display: none;
  }
}
@media (min-width: 768px) {
  .div-top-sellers-quotation-desk-tab {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  .top-sellers-quotation {
    width: 407px;
  }
}
@media(max-width:767px){
.button-buy-now{
  margin-top: 20px;
}}
.button-buy-now,
.submit-button-top-sellers {
  padding: 12px 28px;
  background: var(--color-orange);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
  border: none;
  
}
.button-buy-now:hover,
.submit-button-top-sellers:hover {
  background: #fcf1e0;
  color: var(--color-orange);
}
@media(min-width:768px){
  .button-buy-now,
.submit-button-top-sellers{
  padding: 14px 40px;
}
}

.div-button-buy-now {
  text-align: center;
}
@media (min-width: 768px) {
  .top-sellers {
    display: flex;
    flex-direction: column;
  }
}
.top-sellers-image {
  border-radius: 15px;
}

.modal.modal-buy-now {
  opacity: 0;
    visibility: hidden;
  position: relative;
  background-color: #FAFAFA;
  border-radius: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 311px;
  border-radius: 15px;
  position: fixed;
  height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}
@media (min-width: 768px) {
  .modal.modal-buy-now {
    max-width: 609px;
    width: 100%;
   
  }
}
.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
}
@media (min-width: 768px) {
  .modal-close {
    top: 24px;
    right: 24px;
    height: 28px;
    width: 28px;
  }
}
.modal-title-top-sellers {
  font-weight: 600;
  font-size: 20px;
  line-height: 2.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-orange);
  margin-bottom: 32px;
}
.second-part-modal-title-top-sellers {
  color: var(--color-black);
}
.modal-chocolate-img {
  position: relative;
  width: 231px;
  height: 257px;
  border-radius: 15px;
  background: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  margin: auto;
}
@media (min-width: 768px) {
  .modal-chocolate-img {
    position: relative;
    width: 160px;
    height: 196px;
  }
}

@media (max-width: 767px) {
  .modal-chocolate-img:nth-last-child(-n + 2) {
    display: none;
  }
}

@media (min-width: 768px) {
  .list-modal-chocolate-img {
    display: flex;
    gap: 16px;
  }
}
.modal-img {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 167px;
  height: 148px;
}
@media (min-width: 768px) {
  .modal-img {
    left: 20px;
    top: 24px;
    width: 120px;
    height: 107px;
  }
}
.button-modal-img {
  position: absolute;
  left: 67px;
  top: 196px;
  padding: 8px 29px;
  width: 96px;
  height: 33px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 768px) {
  .button-modal-img {
    left: 32px;
    top: 145px;
  }
}
.div-button-modal-img {
  text-align: center;
}

::placeholder {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.submit-button-top-sellers {
 
  margin-top: 12px;
}
@media(min-width:768px){
  .submit-button-top-sellers {
 
    margin-top: 18px;
  }
}
.input-form,
.comment {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 14px 18px;
  background: #FAFAFA;
}
.contacts-form-personal-information {
  padding-top: 32px;
}
.input-form-name {
  margin-top: 8px;
  margin-bottom: 14px;
}

.input-form-email {
  margin-top: 8px;
}
.input-form-card-number {
  margin-top: 8px;
}
.comment {
  margin-top: 8px;
  resize: none;
}
.input-form-phone {
  margin-top: 8px;
  margin-bottom: 18px;
  padding-left: 106px;
}
@media (min-width: 768px) {
  .input-form-phone {
    padding-left: 177px;
  }
}
.div-phone-number {
  position: relative;
}

.form-icon-flag {
  position: absolute;
  left: 0;
  margin-left: 18px;
  transform: translateY(125%);
}
@media (min-width: 768px) {
  .form-icon-flag {
    transform: translateY(50%);
  }
}
.modal.modal-thank-you {
  opacity: 0;
    visibility: hidden;
  background-color: var(--color-orange);
  border-radius: 15px;
  padding-top: 84px;
  padding-bottom: 170px;
  padding-left: 68px;
  padding-right: 24px;
  width: 100%;
  max-width: 311px;
  background-image: url(/img/top-sellers/modal_mob_chocolate_bar.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}  
@media (min-device-pixel-ratio: 2){
  .modal.modal-thank-you{
    background-image: url(/img/top-sellers/modal_mob_chocolate_bar@2x.png);
  }
}
@media (min-width: 768px) {
  .modal.modal-thank-you {
    max-width: 516px;
    height: 414px;
    padding-left: 163px;
    padding-right: 44px;
    padding-top: 154px;
    padding-bottom: 154px;
    background-image: url(/img/top-sellers/modal_desk_tab_chocolate_bar.png);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2){
  .modal.modal-thank-you{
  background-image: url(/img/top-sellers/modal_tab_desk_sec_top_sellers_chocolate_bar_kinder@2x.jpg);
}}

.text-modal-thank-you {
  color: var(--color-white);
}
.title-modal-thank-you {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fcf1e0;
}
.quotation-modal-thank-you {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .quotation-modal-thank-you {
    width: 309px;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-white);
  }
}

@media (min-width: 768px) {
  .top-sellers-list-img {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
@media (max-width: 1200px) {
  .top-sellers-li-img:last-child {
    display: none;
  }
}

@media (min-width: 768px) {
  .form-icon-flag {
    height: 32px;
    width: 32px;
  }
}

.textarea {
  resize: none;
}

.modal-thank-you {
  position: relative;

}
.modal-thank-you-img {
  position: absolute;
  width: 384px;
  height: 516px;
  top: 130px;
}

.input-form-phone{
  display: flex;
}
.form-icon-flag{
  position: absolute;
  top: 10.5px;
  left: 18px;
  width: 24px;
  height: 24px;
  margin: 0;

}
.phone-number{
  display: flex;
  margin-top: 8px;
}
.modal-review-wrap.top-sellers{
  margin-top: 8px;
}
.contacts-form{
  margin-top: 18px;
}

  .form-icon-mastercard {
    position: absolute;
    width: 32px;
    height: 21px;
    right: 12px;
    top:12px;
    transform: translateY(125%);
  }

@media(min-width: 768px){
.form-icon-mastercard {
  width: 44px;
  height: 30px;
  right: 18px;
  top:18px;
  transform: translateY(50%);
}}
  .contacts-form.form-field-review{
    margin-bottom:0;
  }
  .contacts-form.contacts-form-card{
    position: relative;
  }