*
{
  margin: 0;
  padding: 0;
}
.container-top-sellers{
  background: var(--color-section-background);
  padding-bottom: 72px;
}
@media(min-width:768px)
{
  .container-top-sellers{
    padding-bottom: 100px;
  }
}
.title-top-sellers {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-orange);
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .title-top-sellers {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.second-part-title-top-sellers {
  color: var(--color-black);
}
.top-sellers-quotation {
  width: 306px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-top: 20px;
  margin-bottom: 32px;
}
@media(min-width:768px){
  .div-top-sellers-quotation{
display: none;}
}
@media(max-width:767px){
  .div-top-sellers-quotation-desk-tab{
display: none;}
}
@media(min-width:768px)
{.div-button-buy-now-mob{
  display: none;
}}
@media(min-width:767px){
  .div-top-sellers-quotation-desk-tab{
display: flex;
justify-content: space-between;}
}
@media (min-width: 1200px) {
  .top-sellers-quotation {
    width: 407px;
  }}
.button-buy-now, .submit-button-top-sellers {
  padding: 12px 28px;
  background: var(--color-orange);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color:var(--color-white);
  border: none;
  width: 120px;
  margin-top: 20px;
}
.div-button-buy-now{
  text-align: center;
}
@media(min-width:768px){
  .top-sellers{
    display: flex;
    flex-direction: column;
  }
}
.top-sellers-image{
  border-radius: 15px;
}
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition-property: opacity;  
} */
  .modal-buy-now{
    position: absolute;
    opacity:0;
    visibility: hidden;
    width: 311px;
   height: 1007px;
    background-color: var(--color-section-background);
    border-radius: 15px;
    transform: translate(-75%);
    padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
}
  @media(min-width:768px){
    .modal{
     width: 609px;
  height: 1059px; 
    }
  }
 .modal .modal-close{
    position: absolute;
    top: 14px;
    right: 14px;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    padding: 0;
  }
  .modal-title-top-sellers{
font-weight: 600;
font-size: 20px;
line-height: 2.2;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--color-orange);
margin-bottom: 32px;
  }
 .second-part-modal-title-top-sellers{
  color: var(--color-black);
 }
 .modal-chocolate-img{
  width: 231px;
height: 257px;
border-radius: 15px;
background: var(--color-white);
border: 1px solid rgba(17, 17, 17, 0.1);
margin: auto;
 }
 .button-modal-img{
padding: 8px 29px;
width: 96px;
height: 33px;
background: #FAFAFA;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 100px;
font-weight: 600;
  font-size: 14px;
  line-height: 17px;
 }
 .div-button-modal-img{
  text-align: center;
 }

 ::placeholder{
 
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.submit-button-top-sellers{
  width: 120px;
  margin-top: 18px;
}
.input-form, .comment{
  width:100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
border-radius: 8px;
padding: 14px 18px;
}
.contacts-form-personal-information{
padding-top: 32px;
}
.input-form-name{
  margin-top: 8px;
  margin-bottom: 14px;
}
.input-form-surname{
  margin-bottom: 18px;
}
.contacts-form-email{
  margin-bottom: 18px;
}
.input-form-email{
margin-top: 8px;
}
.input-form-card-number{
  margin-top: 8px;
  }
 .contacts-form-card-number{
  position: relative;
  margin-bottom: 18px;
 } 
 .form-icon-mastercard{
  position: absolute;
    right: 0;
    margin-right: 12px;
    transform: translateY(17px);
 }
 .comment{
  margin-top: 8px;
 }
.input-form-phone{
  margin-top: 8px;
  margin-bottom: 18px;
}
.div-phone-number{
  position: relative;
}
.form-icon-flag{
  position: absolute;
  left: 0;
  margin-left: 18px;
  transform: translateY(125%);
}
.modal-thank-you{

  position: absolute;
  opacity:0;
  visibility: hidden;
  width: 311px;
 height: 350px;
  background-color: var(--color-orange);
  border-radius: 15px;
  transform: translate(0);
  padding-top: 84px;
padding-bottom: 170px;
padding-left: 68px;
padding-right: 24px;
}
.text-modal-thank-you{
  color: var(--color-white);
}
.title-modal-thank-you{
  text-transform: uppercase;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.02em;
color: #FCF1E0;
}
.quotation-modal-thank-you{
font-size: 14px;
line-height: 1.14;
letter-spacing: -0.02em;
margin-top: 8px;
}

.modal .open-modal{
  transform: translate(0);
}
@media(min-width:768px){
  .top-sellers-list-img{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }}
  @media(max-width:1200px){
    .top-sellers-li-img:last-child{
      display: none;
    }
  }
